<%= form_for(@paper) do |f| %>
  <% if @paper.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@paper.errors.count, "error") %> prohibited this author from being saved:</h2>

      <ul>
      <% @paper.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :venue %><br>
    <%= f.text_field :venue %>
  </div>
  <div class="field">
    <%= f.label :year %><br>
    <%= f.text_field :year %>
  </div><br>
    <p>
    <%= f.label "Author 1", for: "paper_author_id_1" %>
    <%= f.collection_select :papers, Author.all, :id, :name, {selected: (@paper.authors.size > 0 ? @paper.authors[0].id : ""), include_blank: '(none)'}, {name: "paper[author_ids][]", id: "paper_author_id_1"} %>
  </p>


  <p>
    <%= f.label "Author 2", for: "paper_author_id_2" %>
    <%= f.collection_select :papers, Author.all, :id, :name, {selected: (@paper.authors.size > 1 ? @paper.authors[1].id : ""), include_blank: '(none)'}, {name: "paper[author_ids][]", id: "paper_author_id_2"} %>
  </p>

  <p>
    <%= f.label "Author 3", for: "paper_author_id_3" %>
    <%= f.collection_select :paper, Author.all, :id, :name, {selected: (@paper.authors.size > 2 ? @paper.authors[2].id : ""), include_blank: '(none)'}, {name: "paper[author_ids][]", id: "paper_author_id_3"} %>
  </p>

  <p>
    <%= f.label "Author 4", for: "paper_author_id_4" %>
    <%= f.collection_select :paper, Author.all, :id, :name, {selected: (@paper.authors.size > 3 ? @paper.authors[3].id : ""), include_blank: '(none)'}, {name: "paper[author_ids][]", id: "paper_author_id_4"} %>
  </p>

  <p>
    <%= f.label "Author 5", for: "paper_author_id_5" %>
    <%= f.collection_select :paper, Author.all, :id, :name, {selected: (@paper.authors.size > 4 ? @paper.authors[4].id : ""), include_blank: '(none)'}, {name: "paper[author_ids][]", id: "paper_author_id_5"} %>
  </p>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
